@use './variaveis';
@use './componentes';

.servicos {
  padding: 4rem 2rem;
  background-color: variaveis.$cor-fundo;
  color: variaveis.$cor-texto;
  text-align: center;

  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: variaveis.$espacamento;
    padding: 0;
    list-style: none;
  }
}

// Responsividade
@media (max-width: variaveis.$tablet) {
  .servicos__title {
    font-size: 1.8rem;
  }

  .card {
    font-size: 1rem;
    padding: variaveis.$espacamento;
  }
}
