@use './variaveis';

.sobre {
  padding: variaveis.$espacamento * 2.5;
  background-color: #f9f9f9;
  color: variaveis.$cor-texto;

  &__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
  }
}

// Responsividade
@media (max-width: variaveis.$tablet) {
  .sobre__title {
    font-size: 1.8rem;
  }

  .sobre__text {
    font-size: 1rem;
  }
}
